<div class="comment card mb-3">
	<div class="card-body">
		<div class="commentbody">{{ include.comment.body }}</div>
	</div>
	<div class="card-footer text-muted post-meta text-end">
		{%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y"
		-%}
		<time
			class="dt-published"
			datetime="{{ page.date | date_to_xmlschema }}"
			itemprop="datePublished"
		>
			{{ comment.created | date: date_format }}
		</time>
		•
		<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="p-author h-card" itemprop="name"
				>{{ include.comment.author.name }}</span
			></span
		>
	</div>
</div>
