<div class="comment card m-3">
	<div class="card-body">
		<div class="commentbody">{{ .body | replaceRE "\\[img:sites/default/files/([^\\]]+)\\]" "![](/images/$1)" | markdownify }}</div>
		{{ range .Params.files }}
		<img src="{{.uri | replaceRE "public://" "/images/" }}">
		{{ end }}
	</div>
	<div class="card-footer text-muted post-meta text-end">
		<time
			class="dt-published"
			datetime="{{ .created }}"
			itemprop="datePublished"
		>
			{{ .created }}
		</time>
		•
		<span itemprop="author" itemscope itemtype="http://schema.org/Person">

			<span class="p-author h-card" itemprop="name">
            <a href="/?q=author:{{ .author.name | urlquery }}">
            {{ .author.name | markdownify }}
	    </a>
			</span></span>
	</div>
	{{ range $comment := .children }} {{ partial "comment.html" . }} {{ end }}
</div>
