<div class="float-right">
 <!-- Facebook Share Button -->
    <a class="text-decoration-none share facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="bi bi-facebook"></i></a> 
    <!-- Twitter Share Button -->
    <a class="text-decoration-none share twitter" href="https://twitter.com/intent/tweet?text=title&amp;url={{ .Permalink }}&amp;"><i class="bi bi-twitter"></i></a> 
    <!-- LinkedIn Share Button -->
    <a class="text-decoration-none share linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;source={{ .Permalink }}/"><i class="bi bi-linkedin"></i></a>
 </a>
</div>
